.content {
    padding-left: 300px;
}

.modal-footer .btn {
    width: 100%;
}

.modal {
    overflow: hidden;
}

.toast-head {
    font-weight: bold;
}

.fixed-action-btn {
    position: relative;
    padding: 10px;
    margin-top: 5px !important;
    /* width: 100%; */
}

#a-float {
    opacity: 1 !important;
    transform: scale(0.8) !important;
}
.modal-footer {
    margin-bottom: 20px;
}