.content {
    padding-left: 300px;
}

.modal-footer {
    margin-bottom: 30px;
}

#cancelBtn {
    margin-right: 100px;
}

#saveBtn {
    margin-right: 10px;
}

.employees {
    height: 50%;
    background-color: #000020;
    color: white;
    overflow-y: auto;
}

.departments {
    height: 50%;
    background-color: #FF9900;
    overflow-y: auto;
}

#main-content {
    height: calc(100vh - 200px);
}

nav {
    height: 100px;
    margin-bottom: 20px;
    background-color: #000010 !important;
}

.nav-wrapper {
    line-height: 100px;
}

.sidenav {
    background-color: #000010 !important;
}

.data-value {
    border-right: solid 0.05em;
    border-right-color: #E8E8E8;
    font-size: 1.2em;
}

.emp-data {
    border-bottom: solid 0.05em;
    border-bottom-color: #E8E8E8;
    color: white;
}

h5 {
    text-decoration: underline;
}

.toast-head {
    font-weight: bold;
}

#confirmDelete {
    width: 400px !important;
}

.fixed-action-btn {
    position: relative;
    padding: 10px;
    margin-top: 5px;
}

#a-float {
    opacity: 1 !important;
    transform: scale(0.8) !important;
}

#deleteEmp {
    margin-left: 20px;
}

.addUser .modal {
    padding-bottom: 450px;
}

.editUser .modal {
    padding-bottom: 450px;
}

#searchRow {
    padding-top: 20px !important;
    background-color: #A0A0A0;
}

nav {}

#searchContainer {
    margin-bottom: 50px !important;
}