nav {
    height: 100px;
    line-height: 100px;
}

.container {
    margin-top: 175px;
}

.main-dash .row {
    margin: 0 !important;
    height: 225px;
}

.col {
    height: 100%;
    margin-bottom: 20px;
}

.btn-large {
    height: 100%;
    width: 100%;
    line-height: 225px;
}

ul li {
    display: inline;
}

li {
    padding: 20px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 2px 12px;
    cursor: pointer;
}

.vertical-line {
    border-right: solid 1px;
}
.btn {
    width: 100%;
}