nav {
    height: 100px;
    line-height: 100px;
}
.container {
    margin-top: 175px;
}
.main-dash .row{
    margin: 0 !important;
    height: 225px;
}
.col {
    height: 100%;
    margin-bottom: 20px;
}
.btn-large {
    height: 100%;
    width: 100%;
    line-height: 225px;
}