<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="../materialize/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../templates-css/account_creation.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../font-awesome/css/all.css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper  blue darken-4">
            <a class="brand-logo center">Hotel Management System</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 signup-form">
                <h4 class="center">Create Account</h4>
                <form action="#!" id="createAccountForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <select class="browser-default">
                            <option value="" disabled selected>Department</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="confirm_password" type="password" class="validate">
                            <label for="confirm_password">Confirm Password</label>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col s6">
                        <button class="btn" id="loginBtn">SAVE</button>
                    </div>
                    <div class="col s6">
                        <button class="btn" id="closeBtn">CANCEL</button>
                    </div>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
    </div>
    <script>
        require('../../renderers/indexrenderer.js');
    </script>
    <script type="text/javascript" src="../materialize/materialize.js"></script>
    <script type="text/javascript" src="../templates_js/materialize_init.js"></script>
</body>

</html>