<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../templates-css/hr_dashboard.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../font-awesome/css/all.css" />
</head>
<body>
    <div class="content">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center">HR Dashboard</a>
            </div>
        </nav>
        <div class="container" id="main-content">
            <div class="row employees" id="employees">
               <div class="row">
                   <h5 class="center">Employees Currently Registered</h5>
               </div>
            <!-- <div class="container center" id="searchContainer">
                <div class="row" id="searchRow">
                    <div class="col m2"></div>
                    <div class="col m8">
                        <nav>
                            <div class="nav-wrapper">
                                <form>
                                    <div class="input-field" id="searchInputField">
                                        <input id="search" type="search" required>
                                        <label class="label-icon" for="search"><i class="fa fa-search"></i></label>
                                        <i class="material-icons fa fa-times-circle"></i>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <div class="col m2"></div>
                </div>
            </div> -->
            </div>
            <div class="row departments">
                <p id="sentMessage"></p>
            </div>
            <div class="side-menu">
                <ul id="slide-out" class="sidenav sidenav-fixed">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="images/office.jpg">
                            </div>
                            <a href="#user"><img class="circle" src="../assets/user_images/back6.jpeg"></a>
                            <a href="#name"><span class="white-text name">Admin</span></a>
                            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                        </div>
                    </li>
                    <li><a class="subheader red-text">Account Actions</a></li>
                    <li><a class="waves-effect white-text modal-trigger" href="#addUser" id="createUserBtn">Add Employee</a></li>
                    <li><a class="waves-effect white-text" href="#!">View an Employee details</a></li>
                    <li><a class="waves-effect white-text" href="#!">Update an Employee Details</a></li>
                    <li><a class="waves-effect white-text" href="#!">Delete an Employee Details</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a class="subheader red-text">Department Actions</a></li>
                    <li><a class="waves-effect white-text" href="#!">Create A Department</a></li>
                    <li><a class="waves-effect white-text" href="#!">View A Department Details</a></li>
                    <li><a class="waves-effect white-text" href="#!">Update A Department Details</a></li>
                    <li><a class="waves-effect white-text" href="#!">Delete A Department</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a class="subheader red-text">Reports</a></li>
                    <li><a class="waves-effect white-text" href="#!">Print all Employees</a></li>
                </ul>
            </div>
            <div class="row confirmModalRow" id="confirmModalRow">
                <div id="confirmDelete" class="modal">
                <div class="modal-content">
                    <i class="fas fa-info-circle fa-3x"></i>
                    <h6><b>Are you sure you want to delete <span id="empToDeleteName"></span></b></h6>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn">No</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn" id="deleteUser">Yes</a>
                </div>
                </div>
            </div>
            <div class="row addUser">
                <div id="addUser" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4 class="center"><u>Enter Employee Details</u></h4>
                        <div class="row">
                            <form class="col s12" action="#" id="empForm">
                                <div class="row">
                                    <div class="input-field col s4">
                                        <input id="first_name" type="text" class="validate" required>
                                        <label for="first_name">First Name</label>
                                        <span class="helper-text" data-success="OK!" data-error="Firstname is required">First Name is required</span>
                                    </div>
                                    <div class="input-field col s4">
                                        <input id="surname" type="text" class="validate" required>
                                        <label for="surname">Surname</label>
                                        <span class="helper-text" data-success="OK!" data-error="Surname is required">Surname is required</span>
                                    </div>
                                    <div class="input-field col s4">
                                        <input id="last_name" type="text" class="validate" required>
                                        <label for="last_name">Last Name</label>
                                        <span class="helper-text" data-success="OK!" data-error="Lastname is required">Last Name is required</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="dob" type="text" class="datepicker" placeholder="Date of Birth" class="validate" required>
                                        <span class="helper-text" data-success="OK!" data-error="Birthdate is required">Date of Birth is required</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="national_id" type="text" class="validate" required>
                                        <label for="national_id">National ID</label>
                                        <span class="helper-text" data-success="OK!" data-error="National ID is required">National Id is required</span>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="tel" type="text" class="validate" required>
                                        <label for="tel">Mobile Phone Number</label>
                                        <span class="helper-text" data-success="OK!" data-error="Mobile Phone is required">Mobile phone is</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="residence" type="text" class="validate">
                                        <label for="residence">Residence</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="address" type="text" class="validate">
                                        <label for="address">Address</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field">
                                            <select id="gender" required>
                                                <option value="" disabled selected>Gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                            <span class="helper-text" data-success="OK!" data-error="Gender is required">Gender is required</span>
                                        </div>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="doh" type="text" class="datepicker" placeholder="Date of Hire" class="validate" required>
                                        <span class="helper-text" data-success="OK!" data-error="Date Hired is required">Date Hired is required</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <select id="status" required>
                                                <option value="" disabled selected>Select Employee Status</option>
                                                <option value="1">Active</option>
                                                <option value="2">Inactive</option>
                                            </select>
                                            <span class="helper-text" data-success="OK!" data-error="Working Status is required">Working Status is required</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn" id="cancelBtn">CANCEL</a>
                        <a href="#!" class="waves-effect waves-green btn" id="saveUserBtn">SAVE</a>
                    </div>
                </div>
            </div>
            <div class="row editUser">
                <div id="editUser" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4 class="center"><u>Edit Employee</u></h4>
                        <div class="row">
                            <form class="col s12" action="#" id="empEditForm">
                                <div class="row">
                                    <div class="input-field col s4">
                                        <input id="first_name" type="text">
                                    </div>
                                    <div class="input-field col s4">
                                        <input id="surname" type="text">
                                    </div>
                                    <div class="input-field col s4">
                                        <input id="last_name" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="email" type="email">
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="dob" type="text" class="datepicker" placeholder="Date of Birth" class="validate">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="national_id" type="text">
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="tel" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="residence" type="text">
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="address" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field" id="genderInput">
                                            <select id="gender">
                                                <option value="" disabled selected>Click to change Gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="doh" type="text" class="datepicker" placeholder="Date of Hire" class="validate">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <select id="status">
                                                <option value="" disabled selected>Click to change Status</option>
                                                <option value="1">Active</option>
                                                <option value="2">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn" id="cancelBtn">CANCEL</a>
                        <a href="#!" class="waves-effect waves-green btn" id="editUserBtn">SAVE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>window.materialize = window.materialize = require('materialize-css');</script>
    <script type="text/javascript" src="../templates_js/materialize_init.js"></script>
    <script>
        require('../../renderers/hrDashboardRenderer.js');
    </script>
</body>
</html>