<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../materialize/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../templates-css/index.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../font-awesome/css/all.css"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper  blue darken-4">
            <a class="brand-logo center">Hotel Management System</a>
        </div>
    </nav>
    <div class="container">
    </div>
    <script>
        require('../../renderers/indexrenderer.js');
    </script>
    <script type="text/javascript" src="../materialize/materialize.js"></script>
</body>
</html>