<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../materialize/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../templates-css/splash.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../font-awesome/css/all.css" />
    <title></title>
</head>
<body>
    <div class="row main-splash">
        <i class="fa fa-spinner fa-pulse fa-9x fa-fw blue-text"></i>
    </div>
    <div class="row bottom">
        <p class="red-text" id="versionSpan">
        </p>
    </div>

    <!-- scripts -->
    <script id="initiator">
        require('../../renderers/splashrenderer.js');
    </script>
    <script type="text/javascript" src="../materialize-js/materialize.js"></script>
</body>
</html>